<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,7},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,14},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,21},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,28},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,35},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,7}</string>
                <key>spriteSourceSize</key>
                <string>{28,7}</string>
                <key>textureRect</key>
                <string>{{0,42},{28,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meter.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:336459994cc353c1941226ef8570779e:33cc99bab27c81810347aff7fff7fb1d:05e0246fd88503bd87e356d49a37285c$</string>
            <key>textureFileName</key>
            <string>meter.png</string>
        </dict>
    </dict>
</plist>
