<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_astro1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{32,96},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_astro7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{32,96}</string>
                <key>textureRect</key>
                <string>{{64,96},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>16_astro.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f277dc58ffb6c96806438b25518af09:83330e8437388ad27abd7a653e1f4813:6179363a954625819fba181470d7e4eb$</string>
            <key>textureFileName</key>
            <string>16_astro.png</string>
        </dict>
    </dict>
</plist>
