<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crate1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{0,288},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crate.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02cc8f4b4b9c12cc10c2a48b8087c08e:5823cda88d82a76c6fc63c9700a54799:c4503844d1c8af7bd353df9e092ebc00$</string>
            <key>textureFileName</key>
            <string>crate.png</string>
        </dict>
    </dict>
</plist>
