<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Space_Hero 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{46,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,68},{48,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,68},{48,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{52,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,134},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,134},{52,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,134},{52,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,200},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,200},{52,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,200},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{52,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,266},{50,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,266},{52,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,266},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{48,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,332},{52,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,332},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,332},{52,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{46,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{50,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,398},{48,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,68},{48,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Space_Hero 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,398},{46,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Space_Hero2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7f7c70a179f32e1b9493afdc46ec27e:8b6e87e421e8f00782ad971f39eb73e4:e28bf8209c9b99f26886eb611b640be6$</string>
            <key>textureFileName</key>
            <string>Space_Hero2.png</string>
        </dict>
    </dict>
</plist>
