<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee1a75c8b767a5877e26605b5ea3c85a:ce8e934f0d4b2cafe20f6c4f0eff9c53:f28ecd321c46a44f8586b3153a7db9c0$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
